mixin hero(data)
  section.hero(class!=attributes.class)
    .container
      .hero__inner
        .hero__text
          .hero__greeting
            p= data.greeting
          h1= data.title
            if data.titleStrong
              span= data.titleStrong
          each item in data.descriptions
            p= item.description
          if data.titleH4
            h4= data.titleH4
            block
        if data.img
          picture.hero__image
            source(srcset=data.srcset media="(min-width: 1024px)" type="image/png")
            img(src= data.img, alt= data.imgAlt, width="1055", height="967")
